<p><%= label_tag 'User Name :' %><br/>
<%= f.text_field :login %></p>
<p><%= label_tag 'First Name :' %><br/>
<%= f.text_field :first_name %></p>
<p><%= label_tag 'Last Name :' %><br/>
<%= f.text_field :last_name %></p>
<p><%= label_tag 'Profession :' %><br/>
<%= f.text_field :profession %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>